ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

li {
  display: inline;
}

div#carousel {
  -webkit-perspective: 1200px;
          perspective: 1200px;
  background: #100000;
  padding-top: 10%;
  font-size: 0;
  margin-bottom: 3rem;
  overflow: hidden;
}

figure#spinner {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 300px;
  -webkit-transform-origin: 50% 50% -500px;
          transform-origin: 50% 50% -500px;
  -webkit-transition: 1s;
  transition: 1s;
}

figure#spinner img {
  width: 40%;
  max-width: 425px;
  position: absolute;
  left: 30%;
  -webkit-transform-origin: 50% 50% -500px;
          transform-origin: 50% 50% -500px;
  outline: 1px solid transparent;
}

figure#spinner img:nth-child(1) {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

figure#spinner img:nth-child(2) {
  -webkit-transform: rotateY(-45deg);
          transform: rotateY(-45deg);
}

figure#spinner img:nth-child(3) {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

figure#spinner img:nth-child(4) {
  -webkit-transform: rotateY(-135deg);
          transform: rotateY(-135deg);
}

figure#spinner img:nth-child(5) {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

figure#spinner img:nth-child(6) {
  -webkit-transform: rotateY(-225deg);
          transform: rotateY(-225deg);
}

figure#spinner img:nth-child(7) {
  -webkit-transform: rotateY(-270deg);
          transform: rotateY(-270deg);
}

figure#spinner img:nth-child(8) {
  -webkit-transform: rotateY(-315deg);
          transform: rotateY(-315deg);
}

div#carousel ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  -webkit-transition: 0.6s color;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0;
}

div#carousel ~ span:hover {
  color: #888;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #48D1CC url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

* {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navcontainer {
  background-color: white;
  clear: both;
  overflow: auto;
}

nav {
  float: right;
}

.logo img {
  float: left;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-family: raleway;
}

a:hover {
  color: red;
}

#logo-img {
  width: 3rem;
  height: 2.8rem;
}

body {
  background-image: url("c.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */